.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("^assets/img/startscreen_background.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: cover;

}

.start-label-box {
    position: absolute;

    button {
        cursor: pointer;
        font-size: 32px;
        height: auto;
        width: 30vw;
        padding: 15px;
        border-radius: 10px;
        border: none;
        background: linear-gradient(21deg,rgba(255,0,0,1) 0%,rgba(255,231,3,0.8) 50%,rgba(255,0,0,1) 100%);
        background-size: 360% 360%;
        animation: gradient-animation 9s ease infinite;

        @media (max-width: 960px) {
            width: 300px;
        }

        &:hover {
            filter: brightness(0.8);
        }
    }


}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
